<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Training</title>
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/foundation.min.css">
    <link rel="stylesheet" href="lib/style.css">
</head>
<body>
    <div id="app">
        <!--<input type="text" @input="changeTitle" :value="renderTitle" @keyup.enter="alertMe">-->
        <!--<h1 v-once>{{title}}</h1>-->
        <!--<span>{{renderTitle}} - <a :href="link">Google</a></span> / <span v-html="finishedLink"></span>-->

        <!--<hr>-->

        <!--<input type="text" v-model="name">-->
        <!--<p class="redText">{{name}}</p>-->

        <!--<hr>-->

        <!--<button @click="increase(2, $event)">Click Me</button>-->
        <!--<p>{{counter}}</p>-->
        <!--<p>{{result}}</p>-->

        <!--<hr>-->

        <!--<button @click="show = !show">Switch</button>-->

        <!--<div v-if="show">-->
            <!--<input type="text" v-model="color"><br>-->
            <!--<div class="demo" :class="{red: isRed}"></div>-->
            <!--<div class="demo" :class="changeBetweenBlueAndRed" @click="isRed = !isRed"></div>-->
            <!--<div class="demo" :class="color"></div>-->
            <!--<div class="demo" :style="{backgroundColor: color}"></div>-->
        <!--</div>-->

        <!--<p v-else>The boxes are now hidden!</p>-->

        <!--<hr>-->

        <!--<button @click="startProgress">Start Progress</button>-->
        <!--<div :class="['progress-bar']" :style="progressBar"></div>-->

        <!--<hr>-->

        <!--<ul>-->
            <!--<li v-for="(ingredient, i) in ingredients">{{ingredient}} - {{i}}</li> &lt;!&ndash;array&ndash;&gt;-->
            <!--<p> </p>-->
            <!--<li v-for="(value, key, idx) in myObject">{{key}} -  {{value}} - {{idx}}</li> &lt;!&ndash;object&ndash;&gt;-->
            <!--<p> </p>-->
            <!--<li v-for="(person, idx) in persons">{{person.name}} - {{person.age}} - {{person.color}} - {{idx}}</li> &lt;!&ndash;array of objects&ndash;&gt;-->
        <!--</ul>-->

    </div>


    <div id="game">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div
                            class="healthbar text-center"
                            style="background-color: green; margin: 0; color: white; line-height: 40px;"
                            :style="{width: playerHealth + '%'}">
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center"
                         style="background-color: green; margin: 0; color: white; line-height: 40px"
                         :style="{width: monsterHealth + '%'}">
                        {{monsterHealth}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">
                    START NEW GAME
                </button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heal">HEAL</button>
                <button id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>
        <section class="row log" v-if="turns.length > 0" >
            <div class="small-12 columns">
                <ul>
                    <li v-for="turn in turns" :class="{'player-turn':turn.isPlayer, 'monster-turn':!turn.isPlayer}">
                        {{turn.text}}
                    </li>
                </ul>
            </div>
        </section>
    </div>




    <script src="main.js"></script>
</body>
</html>



<!--v-on: @-->
<!--v-bind: :-->