<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Training</title>
    <script src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/style.css">
</head>
<body>
    <div id="app">
        <input type="text" @input="changeTitle" :value="renderTitle" @keyup.enter="alertMe">
        <h1 v-once>{{title}}</h1>
        <span>{{renderTitle}} - <a :href="link">Google</a></span> / <span v-html="finishedLink"></span>

        <hr>

        <input type="text" v-model="name">
        <p class="redText">{{name}}</p>

        <hr>

        <button @click="increase(2, $event)">Click Me</button>
        <p>{{counter}}</p>
        <p>{{result}}</p>

        <hr>

        <button @click="show = !show">Switch</button>

        <div v-if="show">
            <input type="text" v-model="color"><br>
            <div class="demo" :class="{red: isRed}"></div>
            <div class="demo" :class="changeBetweenBlueAndRed" @click="isRed = !isRed"></div>
            <div class="demo" :class="color"></div>
            <div class="demo" :style="{backgroundColor: color}"></div>
        </div>

        <p v-else>The boxes are now hidden!</p>

        <hr>

        <button @click="startProgress">Start Progress</button>
        <div :class="['progress-bar']" :style="progressBar"></div>

        <hr>

        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ingredient}} - {{i}}</li> <!--array-->
            <p> </p>
            <li v-for="(value, key, idx) in myObject">{{key}} -  {{value}} - {{idx}}</li> <!--object-->
            <p> </p>
            <li v-for="(person, idx) in persons">{{person.name}} - {{person.age}} - {{person.color}} - {{idx}}</li> <!--array of objects-->
        </ul>




    </div>

    <script src="main.js"></script>
</body>
</html>



<!--v-on: @-->
<!--v-bind: :-->