#box{
    position: absolute;
    width: 320px;
    height: 420px;
    margin: auto;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 5px solid black;
}

input{
    width: 100px;
    height: 100px;
    border: none;
    background: lightgreen;
    font-size: 5em;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 3px;
    
}

#btnReset{
    width: 310px;
    height: 100px;
    border: none;
    background: lightgreen;
    font-size: 5em;
    cursor: pointer;
    margin-top: 3px;
}

